* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

canvas {
    width: 90%;
    height: 90%;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.board {
    --l: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--l);
    height: var(--l);
    aspect-ratio: 1/1;
    border: 5px white double;
}

.stone {
    position: absolute;
    top: 2.675%;
    left: 2.675%;
    width: 4.65%;
    height: 4.65%;
    border-radius: 50%;
}

.light {
    background-color: lightgray;
    color: black;
    text-align: center;
}

.dark {
    background-color: black;
    border: 1.5px white solid;
    color: white;
    text-align: center;
}

.preview-next {
    opacity: 0.5;
}

.lastMove {
    position: absolute;
    display: none;
    width: 5.5%;
    height: 5.5%;
    border: 3.5px gray solid;
    border-radius: 25%;
    transition: 0.5s ease-in-out;
    z-index: -2;
}
.lastMove::after {
    content: '';
    position: absolute;
    top: 25%;
    left: -3.5px;
    width: calc(100% + 7px);
    height: 50%;
    background-color: black;
    z-index: -1;
}
.lastMove::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 25%;
    width: 50%;
    height: calc(100% + 7px);
    background-color: black;
    z-index: -1;
}